<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdd.imadmin.dao.mapper.Oauth2ClientMapper">
  <resultMap id="BaseResultMap" type="com.jdd.imadmin.dao.entity.Oauth2Client">
    <id column="n_id" jdbcType="BIGINT" property="id" />
    <result column="s_client_number" jdbcType="VARCHAR" property="clientNumber" />
    <result column="s_client_name" jdbcType="VARCHAR" property="clientName" />
    <result column="s_client_short_name" jdbcType="VARCHAR" property="clientShortName" />
    <result column="s_client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="s_resources" jdbcType="VARCHAR" property="resources" />
    <result column="s_client_secret" jdbcType="VARCHAR" property="clientSecret" />
    <result column="s_scope" jdbcType="VARCHAR" property="scope" />
    <result column="s_authorized_grant_types" jdbcType="VARCHAR" property="authorizedGrantTypes" />
    <result column="s_web_server_redirect_uri" jdbcType="VARCHAR" property="webServerRedirectUri" />
    <result column="s_web_server_pay_uri" jdbcType="VARCHAR" property="webServerPayUri" />
    <result column="d_access_token_validity" jdbcType="INTEGER" property="accessTokenValidity" />
    <result column="d_refresh_token_validity" jdbcType="INTEGER" property="refreshTokenValidity" />
    <result column="d_app_access_token_validity" jdbcType="INTEGER" property="appAccessTokenValidity" />
    <result column="s_ip_white_list" jdbcType="VARCHAR" property="ipWhiteList" />
    <result column="d_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="d_update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="s_created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="s_updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="n_status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">

    n_id, s_client_number, s_client_name, s_client_short_name, s_client_id, s_resources, s_client_secret, s_scope, s_authorized_grant_types,
    s_web_server_redirect_uri, s_web_server_pay_uri, d_access_token_validity, d_refresh_token_validity, 
    d_app_access_token_validity, s_ip_white_list, d_create_time, d_update_time, s_created_by, 
    s_updated_by, n_status
  </sql>

  <select id="getOauth2ClientList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from oauth2_client
    where 1=1
    <if test="clientId != null and clientId != ''">
      and s_client_id = #{clientId}
    </if>
  </select>

  <select id="selectByClientId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from oauth2_client
    where s_client_id = #{clientId}
    order by d_create_time desc
  </select>

  <select id="getClientInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from oauth2_client
    where s_client_secret = #{clientSecret} and s_client_id = #{clientId}
  </select>

  <select id="selectMaxCode" resultType="java.lang.String">
    select s_client_number
    from oauth2_client
    ORDER BY n_id desc
    limit 1
  </select>

</mapper>